.sallerCard {
    width: 270px;
    height: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 4px;

    &_icon {
        width: 80px;
        height: 80px;
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        i {
            font-size: 26px;
            color: white;
            background-color: black;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }

    &_textBox {
        h4 {
            font-size: 32px;
            font-weight: 700;
            padding:12px 0px;
            white-space: nowrap
        }

        p {
            font-size: 16px;
            font-weight: 400;

        }
    }
}