.navbar {
  &_upside_bg {
    background-color: black;
    max-width: 100%;
    .navbar_upside {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      color: white;
      justify-content: space-between;
      p {
        font-size: 14px;
        padding: 10px 0px;
        a {
          color: white;
          text-decoration: underline;
          font-weight: 600;
        }
      }
      select {
        background-color: black;
        color: white;
        border: none;
        outline: none;
      }
    }
  }
  .navMenu_bg {
    border-bottom: 1px solid lightgray;
    max-width: 100%;
    .navMenu {
      display: flex;
      max-width: 1170px;
      margin: 0 auto;
      justify-content: space-between;
      padding: 30px 0px 20px 0px;
      .navbar_logo {
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
        p{
        color: black;
        }
      }
      .navbar_menu {
        display: flex;
        gap: 30px;
        a {
          color: black;
        }
      }
      .navbar_icons {
        display: flex;
        gap: 30px;
        align-items: center;
        .search_div{
        position: relative;

          input {
            border: none;
            outline: none;
            width: 250px;
            padding-left: 8px;
          }
          .showDiv{
            position: absolute;
          }
        }
        i {
          cursor: pointer;
          font-size: 18px;
          position: relative;
          sup{
            font-size: 12px;
            font-weight: 500;
            padding:3px 5px;
            border-radius: 50%;
            background-color: #db4444;
            color: white;
            position: absolute;
            top: -10px;
            right: -10px;
          }
        }
      }
    }
  }
}
@media (max-width: 575.98px) {
  .navbar{
    .navMenu_bg{
      .navMenu{
        .navbar_menu{
          display: none;
        }
      }
    }
  } 

 }

@media (min-width: 576px) and (max-width: 767.98px) { 
  .navbar{
    .navMenu_bg{
      .navMenu{
        .navbar_menu{
          display: none;
        }
        .navbar_icons{
          input{
            width: 200px;
          }
        }
      }
    }
  }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
  .navbar{
    .navMenu_bg{
      .navMenu{
        .navbar_menu{
          display: none;
        }
      }
    }
  }
 }

@media (min-width: 992px) and (max-width: 1199.98px) {  }

@media (min-width: 1200px) {  }
