.BrowseByCategorySection {
  .BrowseByCategorySection_header {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    gap: 30px;
    .categories {
        display: flex;
        align-items: center;
        gap: 10px;
        p{
            font-weight: 600;
            color: #DB4444;
        }
      .blok {
        width: 20px;
        height: 40px;
        background-color: #DB4444;
        border-radius: 4px;
      }
    }
    &_text {
      display: flex;
      justify-content: space-between;
      p{
        font-size: 36px;
        font-weight: 600;
      }
      .BrowseByCategorySection_header_icons{
        display: flex;
        gap: 25px;
        font-size: 18px;
      }
    }
  }
}
